.card-action img{
	margin: 7px;
	height: 30px;
}

.clickable{
	cursor: pointer;
}

nav a.button-collapse{
	display: initial;
	margin-left: 10px;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
	height: 55px;
    line-height: 55px;
}