/* COL SM entra na mesma regra do width abaixo */

@media (min-width: 992px) {}

.correct {
    opacity: 1 !important;
}

.background-image {
    background-image: url("../../../imagens/background/back4.jpg") !important;
    filter: blur(2px);
    opacity: 0.7;
    position: fixed;
    left: -5px;
    right: -5px;
    top: 0;
    display: block;
    width: 100%;
    height: auto;
    min-height: 1000px;
    z-index: -1;
    background-size: contain;
    background-attachment: fixed;
}

.blue-border {
    border-color: #4E97D8 !important;
    color: #f44336;
}

.red-border {
    border-color: #e56284 !important;
    color: #f44336;
}

.green-border {
    border-color: #70cc8f !important;
    color: grey;
}

.yellow-border {
    border-color: #fab23a !important;
    color: grey;
}

.pagination > li > a:active,
.pagination > li > span:active,
.pagination > li > a:active,
.pagination > li > span:active {
    background-color: #4E97D8 !important;
    border-color: #4E97D8 !important;
    color: white !important;
}

.readonly {
    background-color: #eee !important;
    color: #eee !important;
    opacity: 1 !important;
    cursor: none !important;
}

.turborized-blue {
    background-color: #4E97D8 !important;
    border-color: #4E97D8 !important;
    color: white !important;
}

.turborized-blue a {
    color: white;
}

.turborized-red {
    background-color: #E56284 !important;
    border-color: #E56284 !important;
    color: white !important;
}

.turborized-red a {
    color: white;
}

.turborized-green {
    background-color: #70CC8F !important;
    border-color: #70CC8F !important;
    color: white !important;
}

.turborized-green a {
    color: white;
}

.turborized-yellow {
    background-color: #FAB23A !important;
    border-color: #FAB23A !important;
    color: white !important;
}

.turborized-yellow a {
    color: white;
}

.alert-turborized {
    margin: 5px;
}

body {
    background-image: url("../../../imagens/back.png");
    color: #4E97D8;
}

.has-error {
    border: 1px solid red;
}

.img-avatar {
    border: 5px solid white;
}

.img-avatar-selected {
    border: 5px solid #1e88e5;
    transition: 1s;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: #F0F0F0;
    color: #000000;
}

.login {
    margin-top: 3%;
}

.alternativas {
    margin: 5px !important;
}

.alterativas:active {
    background-color: red;
}

.btn {
    margin-bottom: 3px !important;
}

.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
    color: #FFFFFF;
    background-color: #1E88E5;
    border-color: #337ab7;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #2582d7;
    border-color: #2582d7;
}

.nav > li:hover {
    background-color: #2582d7;
    border-color: #2582d7;
}

.navbar-nav > li > a {
    height: 50px;
}

.button-tag {
    width: 20%;
    margin: 0;
}

.btn {
    font-size: 14px;
    font-weight: bold;
}

.alert {
    height: 50px;
    padding: 10px;
    font-size: 20px;
}

.grid {
    height: 600px;
    overflow: auto;
}

.divider {
    margin-bottom: 35px;
    margin-top: 15px;
}

.panel-sized {
    min-height: 100px;
    max-height: 100px;
}

.panel-sized img {
    min-height: 150px;
    max-height: 150px;
}

.panel-body h3 {
    text-overflow: ellipsis;
}

.panel-body label {
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.panel-heading {
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    padding: 7px;
}

.panel-box {
    background-color: transparent;
}

.panel-primary > .panel-heading {
    /*background-color: transparent !important;*/
    /*border: none !important;*/
}

.panel-info > .panel-heading {
    /*background-color: transparent !important;*/
    /*border: none !important;*/
}

.panel-success > .panel-heading {
    /*background-color: transparent !important;*/
    /*border: none !important;*/
}

.panel-danger > .panel-heading {
    /*background-color: transparent !important;*/
    /*border: none !important;*/
}

.panel-warning > .panel-heading {
    /*background-color: transparent !important;*/
    /*border: none !important;*/
}


/* =========== Cards =========== */

.card {
    border-radius: 2px;
    margin-bottom: 15px;
    padding: 0px;
    border: none;
    text-transform: uppercase;
}

.card .form-control {
    border-radius: 0px;
    padding: 3px;
}

.card .input-group {
    padding: 3px;
}

.card .form-group {
    padding-left: 10px;
    padding-right: 10px;
}

.card .btn {
    border-radius: 2px;
    font-size: 18px;
    font-weight: bold;
}

.card hr {
    color: white;
    width: 80%;
}

.card h1,
h2,
h3,
h4,
h5 {
    width: 100%;
    padding: 3px;
    font-weight: bold;
    letter-spacing: 3px
}

.card-heading {
    top: 0px;
    width: 100%;
    border-bottom: 4px white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 2px;
    padding: 5px;
}

.card-body {
    text-align: center;
    margin: 0.1px;
}

.card-title {
    border-bottom: 0.5px white solid;
    border-top: 0.5px white solid;
}

.card-box {
    border: 1px white solid;
    padding: 3px;
}

.card-footer {
    bottom: 0px;
    width: 100%;
    position: absolute;
}

.card-10 {
    height: 350px;
}

.card-9 {
    height: 325px;
}

.card-8 {
    height: 300px;
}

.card-7 {
    height: 275px;
}

.card-6 {
    height: 250px;
}

.card-5 {
    height: 225px;
}

.card-4 {
    height: 200px;
}

.card-3 {
    height: 175px;
}

.card-2 {
    height: 100px;
}

.card-1 {
    height: 50px;
}


/* =========== FIM Cards ===========*/

.menu-row {
    margin: 1% 0 1% 0;
}

.menu-panel {
    margin: 5% 1% 0;
    font-size: 24px;
}

#toast-container {
    display: block;
    position: fixed;
    z-index: 10000;
}

@media only screen and (max-width: 600px) {
    #toast-container {
        min-width: 100%;
        bottom: 0%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    #toast-container {
        left: 5%;
        bottom: 7%;
        max-width: 90%;
    }
}

@media only screen and (min-width: 993px) {
    #toast-container {
        /*left: 45%;*/
        max-width: 100%;
        top: 50%;
    }
}

.toast {
    border-radius: 2px;
    top: 0;
    width: auto;
    clear: both;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    word-break: break-all;
    background-color: #323232;
    padding: 10px 25px;
    font-size: 1.5em;
    font-weight: 300;
    color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.toast .btn,
.toast .btn-large,
.toast .btn-flat {
    margin: 0;
    margin-left: 3rem;
}

.toast.rounded {
    border-radius: 24px;
}

.chart-height {
    height: 300px !important;
    font-size: 12px !important;
}

@media only screen and (max-width: 600px) {
    .toast {
        width: 100%;
        border-radius: 0;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .toast {
        float: left;
    }
}

@media only screen and (min-width: 993px) {
    .toast {
        float: right;
    }
}

@media (min-width: 768px) {
    .dropdown-menu > li > a {
        font-size: 24px !important;
    }
    .panel-heading {
        font-size: 18px !important;
    }
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    opacity: 0.3;
}

.btn-floating {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 37px;
    height: 37px;
    line-height: 37px;
    padding: 0;
    background-color: #26a69a;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
}

.pagination a {
    cursor: pointer;
}